.formulario{
  height: auto;
  margin-top: 20vh;
  width: 40vw;
  margin-left: 30vw;
  background: #1e1e1ed0;
  padding: 1rem;
  border-radius: 1rem;
}

.formulario label, .formulario input{
  width: 100%;
  margin-top: 0.5rem;
}

.formulario input{
  background: #1e1e1ed0;
  border: 1px solid #646464;
  padding: 0.2rem;
}

body{
  background: url(img/5.png);
  background-repeat: repeat-y;
  background-size: cover;
}

*{
  color: #ffffff;
  font-family: Lato, 'Segoe UI', Verdana;
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}

h1{
  font-size: 2rem;
  text-align: center;
}

.contenedorBtns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.small{
  margin-top: 1px;
  font-size: 0.5rem;
}


/* Estilos para orientación vertical */
@media (orientation: portrait) {
  .formulario{
    height: auto;
    margin-top: 5vh;
    width: 100%;
    margin-left: 0;
  }
  *{
    font-size: 2vw;
  }
}

@media (max-width: 1322px){
  *{
    font-size: 16px;
  }
}