.formulario{
  height: 50vh;
  margin-top: 25vh;
  width: 50vw;
  margin-left: 25vw;
  background: #1e1e1ed0;
  padding: 1rem;
  border-radius: 1rem;
}

.formulario label, .formulario input{
  width: 100%;
  margin-top: 0.5rem;
}

.formulario input{
  background: #1e1e1ed0;
  border: 1px solid #646464;
}

body{
  background: url(img/5.png);
  background-repeat: repeat-y;
  background-size: cover;
}

*{
  color: #ffffff;
  font-family: Lato, 'Segoe UI', Verdana;
  font-size: 18px;
}

h1{
  font-size: 2rem;
  text-align: center;
}

.contenedorBtns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.small{
  margin-top: 1px;
  font-size: 0.5rem;
}